In [1]:
import numpy as np

In [3]:
arr = np.array([33, 454, 34, 56, 34, 67, 43])
arr

array([ 33, 454,  34,  56,  34,  67,  43])

In [4]:
arr.transpose()

array([ 33, 454,  34,  56,  34,  67,  43])

In [5]:
arr.T

array([ 33, 454,  34,  56,  34,  67,  43])

In [6]:
arr1 = np.arange(60).reshape(6, 10)
arr1

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59]])

In [7]:
arr1.T

array([[ 0, 10, 20, 30, 40, 50],
       [ 1, 11, 21, 31, 41, 51],
       [ 2, 12, 22, 32, 42, 52],
       [ 3, 13, 23, 33, 43, 53],
       [ 4, 14, 24, 34, 44, 54],
       [ 5, 15, 25, 35, 45, 55],
       [ 6, 16, 26, 36, 46, 56],
       [ 7, 17, 27, 37, 47, 57],
       [ 8, 18, 28, 38, 48, 58],
       [ 9, 19, 29, 39, 49, 59]])

Transpose inverses the # of Rows and Columns

In [8]:
arr2 = np.arange(60).reshape(6, 5, 2)
arr2

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5],
        [ 6,  7],
        [ 8,  9]],

       [[10, 11],
        [12, 13],
        [14, 15],
        [16, 17],
        [18, 19]],

       [[20, 21],
        [22, 23],
        [24, 25],
        [26, 27],
        [28, 29]],

       [[30, 31],
        [32, 33],
        [34, 35],
        [36, 37],
        [38, 39]],

       [[40, 41],
        [42, 43],
        [44, 45],
        [46, 47],
        [48, 49]],

       [[50, 51],
        [52, 53],
        [54, 55],
        [56, 57],
        [58, 59]]])

In [9]:
arr2.T

array([[[ 0, 10, 20, 30, 40, 50],
        [ 2, 12, 22, 32, 42, 52],
        [ 4, 14, 24, 34, 44, 54],
        [ 6, 16, 26, 36, 46, 56],
        [ 8, 18, 28, 38, 48, 58]],

       [[ 1, 11, 21, 31, 41, 51],
        [ 3, 13, 23, 33, 43, 53],
        [ 5, 15, 25, 35, 45, 55],
        [ 7, 17, 27, 37, 47, 57],
        [ 9, 19, 29, 39, 49, 59]]])

Transposing on 3 or more dimensions reverses the order?

In [12]:
#passing in arguments into this determines the dimensional order
#Where the original was 6, 5, 2
#This one is 5, 6, 2
arr2.transpose((1, 0, 2))

array([[[ 0,  1],
        [10, 11],
        [20, 21],
        [30, 31],
        [40, 41],
        [50, 51]],

       [[ 2,  3],
        [12, 13],
        [22, 23],
        [32, 33],
        [42, 43],
        [52, 53]],

       [[ 4,  5],
        [14, 15],
        [24, 25],
        [34, 35],
        [44, 45],
        [54, 55]],

       [[ 6,  7],
        [16, 17],
        [26, 27],
        [36, 37],
        [46, 47],
        [56, 57]],

       [[ 8,  9],
        [18, 19],
        [28, 29],
        [38, 39],
        [48, 49],
        [58, 59]]])